{% extends 'base.html.twig' %}

{% block title %}Suppression des données{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Suppression des données</h1>
    <p>
        Pour supprimer vos données, contactez-nous à :
        khalil.sammoudi@esprit.tn
    </p>
</div>
{% endblock %}
