{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Politique de confidentialité</h1>
    <p>
        WasteWise TN collecte uniquement les données nécessaires
        pour la connexion via Google/Facebook et la gestion des comptes utilisateurs.
    </p>
</div>
{% endblock %}
