{% extends 'layouts/dashboard_base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block header %}
<h2><i class="fa-solid fa-crown"></i> Dashboard Administrateur</h2>
<p>Vue globale du système de gestion des déchets.</p>
{% endblock %}

{% block sidebar %}
<li class="nav-item">
    <a class="nav-link" href="{{ path('admin_dashboard') }}">
        <i class="fa-solid fa-chart-line"></i> Tableau de bord
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fa-solid fa-recycle"></i> Types de déchets
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fa-solid fa-file"></i> Déclarations
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fa-solid fa-users"></i> Utilisateurs
    </a>
</li>
{% endblock %}

{% block content %}
<div class="row g-4">
    <div class="col-md-4">
        <div class="card-dashboard">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5>Total Déclarations</h5>
                    <h3>120</h3>
                </div>
                <i class="fa-solid fa-file-lines stat-icon"></i>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-dashboard">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5>Citoyens actifs</h5>
                    <h3>85</h3>
                </div>
                <i class="fa-solid fa-user stat-icon"></i>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-dashboard">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5>Partenaires</h5>
                    <h3>22</h3>
                </div>
                <i class="fa-solid fa-handshake stat-icon"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}
