<h2>❌ Déclaration refusée</h2>

<p>Bonjour {{ user.prenom }} {{ user.nom }},</p>

<p>Votre déclaration de déchet a été <b>refusée</b> après vérification.</p>

<ul>
  <li><b>Type :</b> {{ dechet.type }}</li>
  <li><b>Quantité :</b> {{ dechet.quantiteKg }} kg</li>
</ul>

<p>Vous pouvez soumettre une nouvelle déclaration si besoin.</p>
<p><b>WasteWise TN</b></p>
