<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}WasteWise{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>W</text></svg>">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    {% set current_route = app.request.attributes.get('_route') %}
    {% set front_topbar_routes = [
        'app_appel_offre_index',
        'app_appel_offre_new',
        'app_appel_offre_show',
        'app_appel_offre_edit',
        'app_reponse_offre_index',
        'app_reponse_offre_new',
        'app_reponse_offre_show',
        'app_reponse_offre_edit'
    ] %}
    {% set show_front_topbar = current_route in front_topbar_routes and app.request.query.get('from') != 'moderation' %}

    <body class="{% block body_class %}{% endblock %}{% if show_front_topbar %} ww-body--with-front-topbar{% endif %}">
        {% if show_front_topbar %}
            {% include 'components/front_topbar.html.twig' with { current_route: current_route } %}
        {% endif %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="ww-flash ww-flash--{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}

        {% if show_front_topbar %}
            {% include 'components/chatbase_widget.html.twig' %}
        {% endif %}
    </body>
</html>
